/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #282828CC;
    background-alt: #353535CC;
    foreground:     #EBDBB2CC;
    selected:       #83A598CC;
    active:         #B8BB26CC;
    urgent:         #FB4934CC;
}
